.container {
	font-family: Kdam Thmor Pro !important;
	font-weight: Medium;
}

.logo {
	width: 43px;
	height: 32px;
}

.nav {
	display: flex;
	flex-wrap: nowrap;
	padding-bottom: 1rem;
	margin-top: -1px;
	overflow-x: auto;
	text-align: center;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
}

.text-small {
	font-size: 85%;
}

.dropdown-toggle {
	outline: 0;
}

.nav-active {
	background-color: #6677cc !important;
	color: #ffffff !important;
}

.nav-active:hover {
	background-color: #c0cfff !important;
	color: #ffffff !important;
}

.bi {
	vertical-align: -.125em;
	fill: currentColor;
}

.active {
	background-color: #6677cc !important;
	color: #ffffff !important;
}

.btn {
	background-color: #c0cfff !important;
	border-color: #c0cfff !important;
	color: #000000 !important;
}

.btn:hover {
	background-color: #6677cc !important;
	border-color: #6677cc !important;
	color: #ffffff !important;
}

a:hover {
    color: #6677cc !important;
	cursor: pointer !important;
}

.list-group-item:hover {
	background-color: #c0cfff !important;
	color: #000000 !important;
}

.username {
	color: #6677cc !important;
}

.username:hover {
    color: #4055bf !important;
}

.topic-name {
	color: #ff8a65 !important;
}

.upvoted {
	color: #6677cc !important;
}

.downvoted {
	color: #ff8a65 !important;
}

.upvote:hover {
	color: #6677cc !important;
	cursor: pointer !important;
}

.downvote:hover {
	color: #ff8a65 !important;
	cursor: pointer !important;
}

.subscriber {
	background-color: #6677cc !important;
	border-color: #6677cc !important;
	color: #ffffff !important;
}

.subscriber:active {
	background-color: #ffffff !important;
	border-color: #ffffff !important;
	color: #ffffff !important;
}

.subscriber::after {
	content: "Joined";
}

.subscriber:hover::after {
	content: "Leave";
}

.subscriber:hover {
	background-color: #ff0c26 !important;
	border-color: #ff0c26 !important;
	color: #ffffff !important;
}

.visitor {
	background-color: transparent !important;
	border-color: #6677cc !important;
}

.visitor:active {
	background-color: #ffffff !important;
	border-color: #ffffff !important;
	color: #ffffff !important;
}

.visitor:hover {
	background-color: #6677cc !important;
	color: #ffffff !important;
}