.logo {
	width: 43px;
	height: 32px;
}

.topic-name {
	color: #ff8a65 !important;
}

.upvote:hover {
	color: #6677cc !important;
}

.downvote:hover {
	color: #ff8a65 !important;
}

.bi {
	vertical-align: -.125em;
	fill: currentColor;
}

.nav {
	display: flex;
	flex-wrap: nowrap;
	padding-bottom: 1rem;
	margin-top: -1px;
	overflow-x: auto;
	text-align: center;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
}

.text-small {
	font-size: 85%;
}

.dropdown-toggle {
	outline: 0;
}