* {
	box-sizing: border-box;
}

body {
	font-size: 24px;
	background-color: #6677cc;
}

.logo {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	position: relative;
	overflow: hidden;
}

input[type=text], input[type=password] {
	color: #ffffff;
	background-color: #ffbb93;
	opacity: 1;
	position: relative;
  padding: 10px;
	overflow: hidden;
  font-family: Kdam Thmor Pro;
	font-weight: Medium;
  border-width: 2px;
	border-style: inset;
	border-top-color: #767676;
	border-left-color: #767676;
	border-right-color: #858585;
	border-bottom-color: #858585;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

input[type=text]:focus, input[type=password]:focus {
	background-color: #dfa481;
	outline: none;
}

.form-label {
	color: #ffffff;
	font-family: Kdam Thmor Pro;
	font-weight: Medium;
	font-size: 50px;
	opacity: 1;
	position: relative;
	text-align: center;
}

button {
	background-color: #ff8a65;
	opacity: 1;
	position: relative;
	border-radius: 30px;
}

button:hover {
	background-color: #df7958;
	cursor: pointer;
}

.button-text {
	width: 300px;
	color: #000000;
	font-family: Kdam Thmor Pro;
	font-weight: Medium;
	font-size: 30px;
	opacity: 1;
	text-align: center;
}